<hr>
<footer class="site-footer">
  <ul class="social-media-list">
    <a href="/about">
      <span class="typcn typcn-business-card"></span>
    </a>
    <a href="http://github.com/quelledanielle">
      <span class="typcn typcn-social-github-circular"></span>
    </a>
    <a href="http://twitter.com/quelledanielle">
      <span class="typcn typcn-social-twitter-circular"></span>
    </a>
    <a href="http://facebook.com/quelledanielle">
      <span class="typcn typcn-social-facebook-circular"></span>
    </a>
  </ul>
</footer>
