<footer>
  <nav>
    <ul class="social-media-list">
      <li><a href="https://github.com/quelledanielle" tabindex="-1">GitHub</a> / </li>
      <li><a href="https://twitter.com/quelledanielle" tabindex="-1">Twitter</a> / </li>
      <li><a href="https://instagram.com/dangernoodlepham" tabindex="-1">Instagram</a> / </li>
      <li><a href="mailto:danielle.pham@mail.mcgill.ca" tabindex="-1">Email</a></li>
    </ul>
  </nav>

  <p>
    Design inspired by <a href="http://whitelinespaper.com" tabindex="-1">Whitelines</a> paper
  </p>
</footer>
