$text-color:       #334;
$primary-color:    #51a3a3;
$secondary-color:  #aab;
$background-color: #f0f0f0;

body {
  color: $text-color;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
}

a {
  color: $primary-color;

  &:hover {
    color: $text-color;
  }
}

.post-meta {
  color: $secondary-color;
}
