$text-color: #445;
$dark-accent-color: #940060;
$light-accent-color: #00b4b4;
$light-gray-color: #eee;
$medium-gray-color: #778;
$dark-gray-color: #112;

body {
  background-color: $dark-gray-color;
  color: $light-gray-color;
}

a {
  text-decoration: none;
  color: $light-accent-color;
  box-shadow: inset 0 -2px 0 $light-accent-color;

  &:hover {
    color: $light-gray-color;
    box-shadow: inset 0 -2px 0 $light-gray-color;
  }
}

.page-content {
  background:
    linear-gradient(-90deg, rgba(255, 255, 255, 0.5) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.5) 2px, transparent 1px);
  background-color: $light-gray-color;
  color: $text-color;

  h1, h2, h3, h4, h5, h6, blockquote {
    color: $dark-accent-color;
  }

  a {
    text-decoration: none;
    color: $dark-accent-color;
    box-shadow: inset 0 -2px 0 $dark-accent-color;

    &:hover {
      color: $light-accent-color;
      box-shadow: inset 0 -2px 0 $light-accent-color;
    }
  }

  .post-title, .current-page, .active { color: $dark-accent-color; }
  .post-meta, .inactive { color: $medium-gray-color; }
}
