$spacing: 15px;
$spacing-large: $spacing * 2;

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $spacing;
}

h1 {
  border-bottom: 2px solid $text-color;
  padding-bottom: $spacing;
}

hr {
  border: 0;
  border-bottom: 2px solid $text-color;
  margin: $spacing-large 0;
  width: 100%;
}

ul, ol {
  margin: $spacing $spacing-large;
}

blockquote {
  border-left: 2px solid $text-color;
  padding-left: $spacing;
}

code {
  padding: 1px 5px;
}

pre {
  padding-top: 0;
  padding-left: $spacing;
  padding-bottom: $spacing;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.page-content {
  max-width: 800px;
  margin: $spacing-large;
}

.post-list {
  margin: 0;
  list-style: none;

  li:not(:last-child) {
    margin-bottom: $spacing;
  }
}

.pagination {
  margin: $spacing 0;
}
