$min-row-count: 38;
$min-col-count: 16;
$max-col-count: 32;

$spacing:           1em;
$line-width:        0.125em;
$double-line-width: 0.25em;

$grid-width: $spacing + $double-line-width;
$min-page-width: $grid-width * $min-col-count - $line-width;
$max-page-width: $grid-width * $max-col-count - $line-width;

* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6,
article, div, p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: $line-width solid $dark-accent-color;
  margin: 0 auto;
  min-width: $min-page-width - ($spacing + $double-line-width) * 2;
  max-width: $max-page-width - ($spacing + $double-line-width) * 2;
}

p { padding: ($spacing / 2 + $line-width) 0; }

hr {
  border: 0;
  border-bottom: $line-width solid $medium-gray-color;
  margin-top: -$line-width;
  margin-right: $grid-width;
  margin-bottom: $grid-width;
  margin-left: $grid-width;
}

blockquote {
  border-left: $line-width solid $dark-accent-color;
  margin-left: -$line-width * 3;
  padding-left: $grid-width + $double-line-width;
}

ul { padding-left: $grid-width; }
li { margin-bottom: $grid-width; }

.container {
  width: 100%;
  padding: ($spacing * 2) 0;
}

.page-content {
  background-size:
    $grid-width $grid-width,
    $grid-width $grid-width;
  margin: 0 auto ($spacing * 2);
  width: 100%;
  min-width: $min-page-width;
  max-width: $max-page-width;
  min-height: $grid-width * $min-row-count;

  > :first-child { padding-top: $grid-width; }
  > :last-child:not(:only-child) { padding-bottom: $grid-width * 2; }
}

.post-content {
  margin-bottom: $grid-width;
  padding: $grid-width;
  width: 100%;

  hr {
    margin-top: $grid-width - $line-width;
    margin-right: auto;
    margin-left: auto;
    width: 68%;
  }
}

.pagination { margin: $grid-width 0; }

.post-list, .social-media-list {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

.social-media-list {
  width: 100%;

  li {
    display: inline-block;
    margin: 0;
  }
}

.profile-photo {
  width: 100%;
}

.gravatar {
  display: block;
  height: 5 * $grid-width;
  border-radius: 50%;
  margin: 0 auto;
}
