$base-font-family: Monaco, Courier, monospace;

$base-font-size:   14px;
$small-font-size:  12px;

$base-line-height: 1.6em;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 200;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

pre, code {
  font-size: $small-font-size;
}

.pagination, .post-meta {
  font-size: $small-font-size;
}
