@import url(http://fonts.googleapis.com/css?family=Handlee);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$header-font-family: Handlee;
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;

$base-font-size:   16px;
$small-font-size:  0.9em;

$base-line-height: 1.6em;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 200;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

a {
  text-decoration: none;
}

blockquote {
  font-style: italic;
}

pre,
code {
  font-family: Monaco, monospace;
  font-size: $small-font-size;
}

.site-title {
  font-family: $header-font-family;
  font-size: 3em;
}

.social-media-list {
  font-size: 1.75em;
}

.post-meta {
  font-size: $small-font-size;
}

.post-title {
  font-size: 2em;
  line-height: 1.2em;
}

h2.post-link {
  font-size: 1.5em;
}
