body, h1, h2, h3, h4, h5, h6,
pre, code {
  font-family: Monaco, Courier, monospace;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.25em;
  -webkit-text-size-adjust: 100%;
}

footer {
  font-size: 0.75em;
  text-align: center;
  
  p { text-indent: 0; }
}

h1, h2 { text-transform: uppercase; }

a {
  text-decoration: none;

  &:hover { box-shadow: inset 0 -2px 0 $secondary-color; }
}

p {
  line-height: 2.5em;
  text-indent: 1.25em;
}

blockquote p { text-indent: 0; }

.pagination .current-page { box-shadow: inset 0 -2px 0 $primary-color; }

.post-list, .social-media-list { list-style: none; }
