@font-face {
    font-family: JetBrainsMono;
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: JetBrainsMono;
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: JetBrainsMono;
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: JetBrainsMono;
    src: url('../fonts/jetbrains_mono/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6,
article, div, p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
  margin: 0;
  padding: 0;
}

body {
    background-color: #464650;
    color: #eee;
    font-family: JetBrainsMono, monospace;
    font-size: 16px;
    line-height: 1.25rem;
}

hr {
    width: 100%;
    margin: 0 0.25rem;
    border-top: 0.125rem dashed #009595;
    border-bottom: none;
}

#d {
    width: 8.5rem;
    margin: 2.5rem;
}

.container {
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    padding: 0 0.625rem 2rem;
    min-width: 20rem;
    max-width: 40rem;
    background-color: #ece8e6;
    color: #464650;
}

.page h1 {
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    padding: 0 1.25rem;
    color: #009595;
    text-transform: lowercase;
    font-style: italic;
}

.page a {
    color: #940060;
    font-style: italic;
}

.page a:hover {
    color: #009595;
}

.page-content {
    margin-top: -0.125rem;
}

.page-content > * {
    margin: 1.25rem;
}

.page-content ul {
    padding-left: 1.25rem;
}

.page-content blockquote {
    border-left: 0.125rem solid #940060;
    margin-left: 1.1875rem;
    padding-left: 1.125rem;
    color: #940060;
}

ul.doughnut-list {
    list-style: none;
}

ul.doughnut-list li {
    margin: 1.25rem 0;
    padding-left: 1.75rem;
    background-image: url('../images/doughnut.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 1.25rem;
}
