* {
  font-family: Baskerville, serif;
  text-decoration: none;
  text-align: center;
}

body {
  background-color: #f5f4f0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
}

h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

a, a:visited {
  color: #484950;
  transition: color 0.7s ease;
}

a:hover {
  color: rgba(151, 130, 165, 1);
}

hr {
  width: 20%;
  border: 0;
  border-top: 1px solid #484950;
}

.content {
  height: 50%;
  width: 100%;
  position:absolute;
  top: 50%;
  margin-top: -100px;
  margin-left: -20px;
  margin-right: -20px;
}
